<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cost_user.css">
</head>
<body>
    <div class="container">
        <!-- <img class="logo" src="../Images/logo1.png" alt="logo" class="logo"> -->
        <div class ="button">
            
            <button class="btn" type="button" id="home" onclick="window.location.href='../views/user_dashboard.html'">Home</button>
            <button class="btn" type="button" id="Truck" onclick="window.location.href='../views/Place.html'">Place Order</button>
            <button class="btn" type="buttom" id="" onclick="window.location.href='/views/your_order.html'">Your Order</button>
            <button class="btn" onclick="window.location.href='../views/cost.html'">Cost Cal.</button>
            
        </div>
</body>
</html>